@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata";
  color: hsl(0, 0%, 100%);
}

.bg-layered {
  background-image: url("images/pattern-lines.svg"),
    url("/images/background-desktop.png");

  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-position: top left, center;
  min-height: 100vh;
}
